
  p body{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 50px;
  }
  body{
    font-family: Arial;
    color: midnightblue;
    height: 722px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
     /* Center and scale the image nicely */
     
  }
  .home-page{
    background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(background.jpg) ;
    height: 100%;
    background-position: center;
     background-repeat:non repeat ;
     background-size: cover;

   
  }

  .adventure-page{
  background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(adventure.jpg) ;
    height: 100%;
    background-position: center;
     background-repeat:non repeat ;
     background-size: cover;


   
  }
  .friends-page
  {
    background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(friends4.jpg) ;
    height: 100%;
    background-position: center;
     background-repeat:non repeat ;
     background-size: cover;

  }
  .solo{
    background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(background.jpg) ;
    height: 100%;
    background-position: center;
     background-repeat:non repeat ;
     background-size: cover;

  }
  .family-page{
    background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(family.jpg) ;
    height: 100%;
    background-position: center;
     background-repeat:non repeat ;
     background-size: cover;
    }
     
      

    
     
    


  
  
  ul li{
    
    font-family: Arial, Helvetica, sans-serif;
    border-start-end-radius:0;
    float: none;
    width:auto;
    height:auto;
    opacity: .9;
    display:inline-block;
    
    text-align: center;
    font-size: 15px;
  }
   ul li a{
    text-decoration: none;
    color:white;
    padding: 5px 5px;
    display:block;
    border: 1px solid black;
  }
   ul li a:hover{
    background-color: green;
  }
  
  .main
  {
    max-width: 1200px;
    margin: auto;
  }
 .images
 {
   max-width: auto;
   margin:auto;
   overflow: auto;
   
  
   
 }
 .images .hoover.gallery
 {
opacity: 1;
 }
 .gallery{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  display: -webkit-inline-box;
  height: 180px;
  width: 340px;
 }
 .gallery img {
  width: 100%;
  height: auto;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
}

 .desc{
   padding:20px;
   text-align: centre;
 }